<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="container">
    <div class="navbar-header">
      <h3>SeaFood Case study</h3>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <hr>
            <p>{{title}} </p>
            <nav>
              <a routerLink="/login" routerLinkActive='active'>Login</a>
              <!-- <a routerLink="/signup" routerLinkActive='active'>Signup</a> -->
              <a routerLink="/dashboard/1" routerLinkActive='active'>Dashboard</a>
            </nav>
            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
